<expConfiguration expname = "BuffSize1G">
	<description>
	Spec for TPS prediction Model Experiment.
	Independent variable: buffer size, Dependent variable: TPS
	100 users concurrently execute 10 transactions having .5 RW ratio on each DBMS having 1G memory and row level lock.
	Each transaction has uniform distribution request on the second column of the table.
	</description>
	<!-- DBMS configuration: Size of Main Memory, Lock Granularity(?) -->
	<dbmsProperty buffSize="1048576" />			<!-- default: 1G, but here independent variable -->
	<!-- Transaction Size -->		
	<!-- default: 10 xacts 10 statements per xact, 1 table, 0.5 ratio -->
	<xactProperty len="10" numStat="10" numTbls = "1" rwRatio = "0.5"/> 
	<!-- Multiprogramming Level -->		
	<mpProperty numProcs="1" numConns="10" />		<!-- default: 10 users, 1 processor -->
	<!-- Database Size -->
	<dbProperty numRows="1000000" />			<!-- default: 1M rows -->
	<!-- Distribution of Request on non-primary key column  -->
	<queryProperty type="uniform" />			<!-- default: uniform -->
</expConfiguration>
